body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:antiquewhite;
}

h1{
    color: aqua;
    
}
.calculator {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(28, 28, 28, 0.1);
    text-align: center;
}

input, select, button{
    display: block;
    width:calc(100% - 20px);
    
    margin: 20px auto;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

button {
    background-color: aqua;
    color: black;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgb(11, 185, 185);
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

